@model IEnumerable<Technologyreview.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Select a laptop and read its reviews</h2>
<h2>or enter your own review by selecting Create New</h2>
<h2> @Html.ActionLink("Create New", "Create")</h2>

<p>
   
</p>
<div class="row container-fluid" id="imgPresent1">
    <div class="col-md-4 col-sm-2" id="HP">
        <a href='@Url.Action("HP","Reviews")'><img src="~/images/rsz_hp_large2.jpg"></a>
        <h4>Hewlett Packard</h4>
    </div>
    <div class="col-md-4 col-sm-2" id="Lenovo">
        <a href='@Url.Action("Lenovo", "Reviews")'><img src="~/images/rsz_11lenevo.jpg"></a>
        <h4>Lenovo</h4>      
    </div>
    <div class="col-md-4 col-sm-2" id="Acer">
        <a href='@Url.Action("Acer", "Reviews")'><img src="~/images/rsz_rsz_acer.jpg"></a>
        <h4>Acer</h4>
    </div>
</div>
<div class="row container-fluid" id="imgPresent2">
    <div class="col-md-4 col-sm-2" id="Apple">
        <a href='@Url.Action("Apple", "Reviews")'><img src="~/images/rsz_rsz_apple.jpg"></a>
        <h4>Apple</h4>
    </div>
    <div class="col-md-4 col-sm-2" id="Sony">
        <a href='@Url.Action("Sony", "Reviews")'><img src="~/images/rsz_rsz_sony.jpg"></a>
        <h4>Sony</h4>
    </div>
    <div class="col-md-4 col-sm-2" id="Dell">
        <a href='@Url.Action("Dell", "Reviews")'><img src="~/images/rsz_dell.jpg"></a>
        <h4>Dell</h4>
    </div>
</div>
<h4>Return to Home page by selcting the enter key</h4>
<p><a class="btn btn-default" style="background-image: url('../../images/rsz_enter.jpg'); " href='@Url.Action("Index", "Home")'></a></p>

